In [1]:
import sqlite3

In [2]:
# creates or opens a file called mydb with a SQLITE3 DB
db = sqlite3.connect('MyDB')

In [3]:
db.close()

In [4]:
db = sqlite3.connect('MyDB')
# Get a cursor object
cur = db.cursor()

# Drop table if it already exist using execute() method.
if cur.execute("DROP TABLE IF EXISTS custs"):
    print('Drop command successful')

# Create table
if cur.execute("CREATE TABLE custs(id INTEGER PRIMARY KEY, name TEXT, phone TEXT, email TEXT unique, course TEXT)"):
    print('Table Created')
db.commit()
cur.close()
db.close()

Drop command successful
Table Created

In [5]:
db = sqlite3.connect('MyDB')
cur = db.cursor()

if cur.execute('INSERT INTO custs(name, course) VALUES (?, ?)', ('Piyush', "Python")):
    print('1 Record Inserted successfully')

if cur.execute('INSERT INTO custs(name, course) VALUES (?, ?)', ('Harsh', 'Panda')):
    print('2nd Recond Inserted successfully')

if cur.execute('INSERT INTO custs(name, course) VALUES (:name, :course)', {'name':'Vishal', 'course': 'Data Science'}):
    print("3rd one inserted")

if cur.executemany('INSERT INTO custs(name, course) VALUES (:name, :course)',
                   [{'name': 'Jaya', 'course': 'Machine Learning'}, {'name': 'Prakash', 'course': 'Android'}]):
    print("4th one inserted")
db.commit()
cur.close()
db.close()

1 Record Inserted successfully
2nd Recond Inserted successfully
3rd one inserted
4th one inserted

In [6]:
db = sqlite3.connect('MyDB')
cur = db.cursor()

if cur.execute("Select name, course from custs"):
    print("Record cusor is ready")
print('-------------')

# Fetch using fetchone()
record1 = cur.fetchone()
print(record1)
print('---------------------')

# Fetch using getchall()
recordall = cur.fetchall()
for record in recordall:
    print('{0}, {1}'.format(record[0], record[1]))
print(cur.fetchone())
db.commit()
cur.close()
db.close()

Record cusor is ready
-------------
('Piyush', 'Python')
---------------------
Harsh, Panda
Vishal, Data Science
Jaya, Machine Learning
Prakash, Android
None

In [7]:
db = sqlite3.connect('MyDB')
cur = db.cursor()

if cur.execute("SELECT name, course from custs"):
    print("Record cursor is ready");
print('-----------------------------------------------------')

for record in cur:
    print("{0}, {1}".format(record[0], record[1]))

if cur.execute("Select name, course FROM custs WHERE name = ?", ('Piyush',)):
    print("\nCursor is ready")

print('------------------------------------------------------')

for record in cur:
    print(record[0], record[1])

db.commit()
cur.close()
db.close()

Record cursor is ready
-----------------------------------------------------
Piyush, Python
Harsh, Panda
Vishal, Data Science
Jaya, Machine Learning
Prakash, Android

Cursor is ready
------------------------------------------------------
Piyush Python

In [8]:
##update##
db = sqlite3.connect('MyDB')
# Get a cursor object
cur = db.cursor()

# Updata the row in custs
if (cur.execute("UPDATE custs SET course = ?, phone = ? WHERE name = ?", ('Spark', "7747807377", "Piyush"))):
    print('Record Updated Successfully')

#select with where clause
if cur.execute("Select name, course FROM custs WHERE name = ?", ("Piyush", )):
    print("Record cursor is ready.")
print("-------------------------------------------")

#cursor object used as iterator
for record in cur:
    print('{0}, {1}'.format(record[0], record[1]))

db.commit()
cur.close()
db.close()

Record Updated Successfully
Record cursor is ready.
-------------------------------------------
Piyush, Spark

In [9]:
## Delete ### 
db = sqlite3.connect("MyDB")

cur = db.cursor()

if cur.execute("delete from custs WHERE name = ?", ("Vishal",)):
    print("Record Deleted Successfully")
if cur.execute("SELECT name, course from custs"):
    print("Record cursor is ready")
print("---------------------------------------")

#Cursor object used as iterator
for record in cur:
    print("{0}, {1}".format(record[0], record[1]))
db.commit()
cur.close()
db.close()

Record Deleted Successfully
Record cursor is ready
---------------------------------------
Piyush, Spark
Harsh, Panda
Jaya, Machine Learning
Prakash, Android

In [10]:
# drop table
db = sqlite3.connect("MyDB")
cur = db.cursor()

if cur.execute("Drop TABLE custs"):
    print("Table is dropped")
cur.close()
db.close()

Table is dropped

## Questions:

1

In [11]:
import sqlite3

In [12]:
db = sqlite3.connect("FilmBoard")

In [13]:
db.close()

2

In [14]:
db = sqlite3.connect('FilmBoard')
cur = db.cursor()

if cur.execute("DROP TABLE IF EXISTS custs"):
    print('Dropped if already present')

if cur.execute("CREATE TABLE hey(id INTEGER PRIMARY KEY, Name TEXT, Surname TEXT, Age INTEGER, Gender TEXT, MovieName TEXT, Rank INTEGER)"):
    print('Table Created')
db.commit()
cur.close()
db.close()

Dropped if already present

OperationalError: table hey already exists

3

In [ ]:
db = sqlite3.connect("FilmBoard")
cur = db.cursor()

if cur.executemany('INSERT INTO hey(Name, Surname, Age, Gender, MovieName, Rank) VALUES (:a, :b, :c, :d, :e, :f)',
                   [{'a': 'Amitabh', 'b': 'Bachan', 'c': 75, 'd': 'M', 'e': '101 Not Out', 'f': 1}, {'a': 'Akshay', 'b': 'Kumar', 'c': 50, 'd': 'M', 'e': 'Dhanchand', 'f': 2}, {'a': 'Hrithk', 'b': 'Roshan', 'c':42, 'd': 'M', 'e': 'Krrish 2', 'f': 3}, {'a': 'Salmaan', 'b': 'Khan', 'c': 50, 'd': 'M', 'e': 'Race 3', 'f': 6}, {'a': 'Alia', 'b': 'Bhat', 'c': 25, 'd': 'F', 'e': 'Gazzi', 'f': 4}, {'a': 'Madhuri', 'b': 'Dixit', 'c': 45, 'd': 'F', 'e': 'Buket list', 'f': 5}]):
    print("Inserted")
db.commit()
cur.close()
db.close()

#### 4

In [16]:
def print_():
    print("1: Display complete detail.")
    print("2: Insert new Actor/Actress")
    print("3: Delete by actor name")
    print("4: Update rank using name")
    print("5: Update movie using surname")
    print("6: To exit\n")
print_()

db = sqlite3.connect("FilmBoard")
while(1):
    a = int(input("Enter your choice: "))
    if (a == 1):
        cur = db.cursor()
        if cur.execute("Select Name, Surname, Age, Gender, MovieName, Rank from hey"):
            print("Record cusor is ready")
        recordall = cur.fetchall()
        for record in recordall:
            print(record)
        cur.close()
        
    elif (a == 2):
        print("In 2")
        z = input()
        b = input()
        c = int(input())
        d = input()
        e = input()
        f = int(input())
        cur = db.cursor()
        if cur.execute('INSERT INTO hey(Name, Surname, Age, Gender, MovieName, Rank) VALUES (?, ?, ?, ?, ?, ?)', (z, b, c, d, e, f)):
            print('Record Inserted successfully')
        db.commit()
        cur.close()
        
    elif (a == 3):
        x = input("Which one to delete: ")
        cur = db.cursor()
        if cur.execute("delete from hey WHERE Name = ?", (x,)):
            print("Record Deleted Successfully")
        db.commit()
        cur.close()
            
    elif (a == 4):
        cur = db.cursor()
        x = input("Which one to update: ")
        y = int(input("New Rank: "))
        if (cur.execute("UPDATE hey SET Rank = ? WHERE Name = ?", (y, x))):
            print('Record Updated Successfully')
        db.commit()
        cur.close()
        
    elif (a == 5):
        cur = db.cursor()
        x = input("Which one to update: ")
        y = input("New Movie: ")
        if (cur.execute("UPDATE hey SET MovieName = ? WHERE Surname = ?", (y, x))):
            print('Record Updated Successfully')
        db.commit()
        cur.close()
        
    elif (a == 6):
        break;
db.commit()
db.close()

1: Display complete detail.
2: Insert new Actor/Actress
3: Delete by actor name
4: Update rank using name
5: Update movie using surname
6: To exit

Enter your choice: 1
Record cusor is ready
('Amitabh', 'Bachan', 75, 'M', '101 Not Out', 1)
('Akshay', 'Kumar', 50, 'M', 'Dhanchand', 2)
('Hrithk', 'Roshan', 42, 'M', 'Krrish 2', 3)
('Salmaan', 'Khan', 50, 'M', 'Race 3', 6)
('Alia', 'Bhat', 25, 'F', 'Gazzi', 4)
('Madhuri', 'Dixit', 45, 'F', 'Buket list', 5)
Enter your choice: 2
In 2
a
b
56
d
e
89
Record Inserted successfully
Enter your choice: 1
Record cusor is ready
('Amitabh', 'Bachan', 75, 'M', '101 Not Out', 1)
('Akshay', 'Kumar', 50, 'M', 'Dhanchand', 2)
('Hrithk', 'Roshan', 42, 'M', 'Krrish 2', 3)
('Salmaan', 'Khan', 50, 'M', 'Race 3', 6)
('Alia', 'Bhat', 25, 'F', 'Gazzi', 4)
('Madhuri', 'Dixit', 45, 'F', 'Buket list', 5)
('a', 'b', 56, 'd', 'e', 89)
Enter your choice: 3
Which one to delete: Akshay
Record Deleted Successfully
Enter your choice: 1
Record cusor is ready
('Amitabh', 'Bachan', 75, 'M', '101 Not Out', 1)
('Hrithk', 'Roshan', 42, 'M', 'Krrish 2', 3)
('Salmaan', 'Khan', 50, 'M', 'Race 3', 6)
('Alia', 'Bhat', 25, 'F', 'Gazzi', 4)
('Madhuri', 'Dixit', 45, 'F', 'Buket list', 5)
('a', 'b', 56, 'd', 'e', 89)
Enter your choice: 6